body {
    background-color: #e2eafc;
}

.card {
    border-radius: 15px;
    overflow: hidden;
}

.card-header {
    border-radius: 0 !important;
}

.btn-primary {
    background-color: #3a56a7;
    border-color: #3a56a7;
}

.btn-primary:hover {
    background-color: #2c4285;
    border-color: #2c4285;
}

.form-control:focus {
    border-color: #3a56a7;
    box-shadow: 0 0 0 0.25rem rgba(58, 86, 167, 0.25);
}

a {
    color: #3a56a7;
}

a:hover {
    color: #2c4285;
}

#sidebar {
    min-height: 100vh;
    background-color: #3a56a7;
}

.nav-link {
    color: white;
    border-radius: 5px;
    margin-bottom: 5px;
}

.nav-link:hover, .nav-link.active {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

.nav-link.text-danger:hover {
    background-color: rgba(220, 53, 69, 0.1);
}